body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control{
  display: flex;
  gap: 40px;
}

img {
  width: 25%;
  border-radius: 20px;
}

.title {
  font-size: 2em;
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 1em;
  }
  .content {
    font-size: 0.8em;
    text-align: center;
  }
}
